{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>

<meta charset="UTF-8">

<link rel="stylesheet" href="{% static 'css/fonts.css' %}">

<title>

{% block title %}
پنل مدیریت
{% endblock %}

</title>


<link 
rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/dashicons@0.1.1/css/dashicons.min.css"
>


<link 
rel="stylesheet"
href="{% static 'adminpanel/css/dashboard.css' %}"
>
{% block extra_css %}
{% endblock %}
</head>



<body>



<!-- SIDEBAR -->

<aside class="sidebar">


<div class="logo">

شیپیلی شاپ

</div>



<nav class="menu">



<!-- DASHBOARD -->

<a href="{% url 'adminpanel:dashboard' %}">

<span class="dashicons dashicons-dashboard"></span>

داشبورد

</a>





<!-- PRODUCTS -->

<div class="menu-group">


<a 
href="javascript:void(0);"
class="menu-main"
onclick="toggleSubmenu(this)"
>

<span class="dashicons dashicons-products"></span>

<span class="menu-title">
محصولات
</span>

<span class="dashicons dashicons-arrow-down-alt2 menu-arrow"></span>

</a>



<div class="submenu">


<a 
href="{% url 'adminpanel:products' %}"
class="submenu-item"
>

<span class="dashicons dashicons-list-view"></span>

لیست محصولات

</a>



<a 
href="{% url 'adminpanel:product_create' %}"
class="submenu-item"
>

<span class="dashicons dashicons-plus-alt2"></span>

افزودن محصول

</a>


</div>


</div>





<!-- ORDERS -->

<a href="#">

<span class="dashicons dashicons-cart"></span>

سفارش‌ها

</a>





<!-- USERS -->

<a href="#">

<span class="dashicons dashicons-admin-users"></span>

کاربران

</a>





<!-- CATEGORIES -->

<a href="{% url 'adminpanel:category_list' %}">

<span class="dashicons dashicons-tag"></span>

دسته‌بندی‌ها

</a>





<!-- DISCOUNTS -->

<a href="#">

<span class="dashicons dashicons-tickets-alt"></span>

تخفیف‌ها

</a>





<!-- REPORTS -->

<a href="#">

<span class="dashicons dashicons-chart-line"></span>

گزارش‌ها

</a>





<!-- SETTINGS -->

<a href="#">

<span class="dashicons dashicons-admin-settings"></span>

تنظیمات

</a>





<!-- LOGOUT -->

<a href="{% url 'adminpanel:admin_logout' %}">

<span class="dashicons dashicons-exit"></span>

خروج

</a>



</nav>


</aside>







<!-- MAIN -->

<main class="main">





<!-- HEADER -->

<header class="header">


<div>

<h1>

{% block page_title %}

داشبورد مدیریت

{% endblock %}

</h1>

</div>





<div class="user-box">


<div class="avatar">

<span class="dashicons dashicons-admin-users"></span>

</div>


{{ request.user.username }}


</div>


</header>





<!-- MESSAGES -->

{% if messages %}

<div class="toast-container">

{% for message in messages %}

<div class="toast-message {{ message.tags }}">

{{ message }}

</div>

{% endfor %}

</div>

{% endif %}





<!-- PAGE CONTENT -->

{% block content %}

{% endblock %}



</main>




<script>

function toggleSubmenu(element) {

    const submenu = element.nextElementSibling;

    const arrow = element.querySelector(".menu-arrow");

    const isOpen = submenu.classList.contains("open");


    if (isOpen) {

        submenu.classList.remove("open");

        arrow.classList.remove("open");

    } 
    
    else {

        submenu.classList.add("open");

        arrow.classList.add("open");

    }

}

</script>



</body>

</html>