{% extends "adminpanel/base.html" %}


{% block title %}
داشبورد مدیریت
{% endblock %}



{% block page_title %}
داشبورد مدیریت
{% endblock %}



{% block content %}


<!-- STAT CARDS -->

<section class="cards">


    <div class="card">

        <div class="card-title">
            محصولات
        </div>

        <div class="card-number">
            {{ total_products|default:"0" }}
        </div>

    </div>



    <div class="card">

        <div class="card-title">
            محصولات فعال
        </div>

        <div class="card-number">
            {{ active_products|default:"0" }}
        </div>

    </div>



    <div class="card">

        <div class="card-title">
            تنوع کالا (SKU)
        </div>

        <div class="card-number">
            {{ total_variants|default:"0" }}
        </div>

    </div>



    <div class="card">

        <div class="card-title">
            موجودی کم
        </div>

        <div class="card-number">
            {{ low_stock_products|default:"0" }}
        </div>

    </div>



    <div class="card">

        <div class="card-title">
            ناموجود
        </div>

        <div class="card-number">
            {{ out_of_stock|default:"0" }}
        </div>

    </div>



    <div class="card">

        <div class="card-title">
            دسته‌بندی‌ها
        </div>

        <div class="card-number">
            {{ total_categories|default:"0" }}
        </div>

    </div>



    <div class="card">

        <div class="card-title">
            برندها
        </div>

        <div class="card-number">
            {{ total_brands|default:"0" }}
        </div>

    </div>



    <div class="card">

        <div class="card-title">
            کل سفارش‌ها
        </div>

        <div class="card-number">
            {{ total_orders|default:"0" }}
        </div>

    </div>



    <div class="card">

        <div class="card-title">
            سفارش‌های امروز
        </div>

        <div class="card-number">
            {{ today_orders|default:"0" }}
        </div>

    </div>



    <div class="card">

        <div class="card-title">
            در انتظار پرداخت سفارش
        </div>

        <div class="card-number">
            {{ pending_orders|default:"0" }}
        </div>

    </div>



    <div class="card">

        <div class="card-title">
            پرداخت موفق
        </div>

        <div class="card-number">
            {{ successful_payments|default:"0" }}
        </div>

    </div>



    <div class="card">

        <div class="card-title">
            پرداخت ناموفق
        </div>

        <div class="card-number">
            {{ failed_payments|default:"0" }}
        </div>

    </div>



    <div class="card">

        <div class="card-title">
            فروش کل
        </div>

        <div class="card-number">
            {{ total_sales|default:"0" }}
            تومان
        </div>

    </div>


</section>





<!-- ORDERS PANEL -->


<section class="panel">


    <div class="panel-title">
        آخرین سفارش‌ها
    </div>



    <table>


        <tr>

            <th>
                شماره سفارش
            </th>


            <th>
                مشتری
            </th>


            <th>
                تعداد کالا
            </th>


            <th>
                مبلغ
            </th>


            <th>
                وضعیت
            </th>

        </tr>




        {% for order in latest_orders %}


        <tr>


            <td>
                #{{ order.id }}
            </td>



            <td>
                {{ order.user.username }}
            </td>



            <td>
                {{ order.total_items }}
            </td>



            <td>
                {{ order.total_price|floatformat:0 }}
                تومان
            </td>



            <td>

                <span class="status">
                    {{ order.get_status_display }}
                </span>

            </td>


        </tr>



        {% empty %}


        <tr>

            <td colspan="5">
                هنوز سفارشی ثبت نشده است.
            </td>

        </tr>



        {% endfor %}



    </table>


</section>







<!-- PAYMENT STATISTICS -->


<section class="panel">


    <div class="panel-title">
        آمار سفارش و پرداخت
    </div>



    <p>
        سفارش‌های پرداخت شده:
        {{ paid_orders|default:"0" }}
    </p>



    <p>
        سفارش‌های لغو شده:
        {{ cancelled_orders|default:"0" }}
    </p>



    <p>
        پرداخت‌های موفق:
        {{ successful_payments|default:"0" }}
    </p>



    <p>
        پرداخت‌های ناموفق:
        {{ failed_payments|default:"0" }}
    </p>



    <p>
        تراکنش‌های در انتظار:
        {{ pending_payments|default:"0" }}
    </p>



</section>



{% endblock %}