@font-face {
    font-family: "B Nazanin";
    src: url("../fonts/BNazanin.ttf") format("truetype");
}

@font-face {
    font-family: "B Titr";
    src: url("../fonts/BTitr.ttf") format("truetype");
}